/app/vendor/
/app/var/
.env
.env.local
.env.*.local
/node_modules/

/*.log
.idea/
.vscode/
.DS_Store
Thumbs.db
desktop.ini
# Ignorer anciens fichiers root






translations/
.env
.env.*


# Symfony app
/app/vendor/
/app/var/
/app/.env
/app/.env.local
/app/.env.*.local
/app/node_modules/

# Anciennes racines que l'on ne veut pas suivre

# OS / IDE
*.log
.idea/
.vscode/
.DS_Store
Thumbs.db
desktop.ini
.history/
.lh/


