# Symfony
/app/var/
app/vendor/
app/node_modules/
app/.env.local
app/.env.*.local
app/.idea/
app/.vscode/
app/.history/
app/.lh/

# Composer
app/composer.lock

# PHPUnit
app/phpunit.xml
app/phpunit.dist.xml

# Logs
app/var/log/
app/var/cache/

# OS files
.DS_Store
Thumbs.db

# NPM / Node
package-lock.json
yarn.lock

# Ignore travel SQL dump if you want, else remove this line
# travel_guide.sql
